.divprinci {
    background-color:darkgray;
}

.header{
    background-color: grey

}
.maincontainer {
    background-color: indianred;
}

.parrafos {
    background-color: black;
    color: blanchedalmond;
}